# Identificador do usuário Linux usado pelos containers do Airflow.
AIRFLOW_UID=50000

# Configurações administrativas do Airflow.
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRST_NAME=Luciano
AIRFLOW_ADMIN_LAST_NAME=Magalhaes
AIRFLOW_ADMIN_EMAIL=luciano@example.com

# Configurações do banco de metadados do Airflow.
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

# Configurações do banco operacional do marketplace.
MARKETPLACE_DB_HOST=postgres_marketplace
MARKETPLACE_DB_PORT=5432
MARKETPLACE_DB_USER=marketplace
MARKETPLACE_DB_PASSWORD=marketplace
MARKETPLACE_DB_NAME=marketplace

# Fonte de dados usada pela DAG.
FAKESTORE_API_BASE_URL=https://fakestoreapi.com
